/* IMPORTANDO FUENTES */
/* IMPORTANDO FUENTES */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.league-gothic-title {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.big-shoulders-title {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../img/background-purple.jpg");
    background-size: cover;
}

#contenedor-principal{
    width: 1600px;
    margin: 0px auto;
}



/*-------------------------------ESTILOS HEADER HOME----------------------------------*/

header{
    min-height: 200px;
}

header h1{
    color: #FFFFFF;
    font-size: 120px;
    font-family: Anton, Bebas Neue;
    font-weight: bolder;
    letter-spacing: 5px;
}
