/* IMPORTANDO FUENTES */
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.league-gothic-title {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.big-shoulders-title {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Anton, Arial;
}



/*-------------------------------ESTILOS BARRA DE NAVEGACION----------------------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: #034CFF;
  color: #FFFFFF;
  height: 50px;
}
nav h1{
  font-family: Anton;
  letter-spacing: 2px;
  margin-left: 50px;
}



/*-------------------------------FOOTER----------------------------------*/

footer{
  font-family: Big Shoulders;
  font-weight: 200;
  text-align: center;
  margin-top: 50px;
  background-color: #034CFF;
  color: #FFFFFF;
}